<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FortuneCookie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="icon" 
      type="image/svg" 
      href="/assets/images/favicon.svg">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg top-nav">
        <a class="navbar-brand" href="./">
            Fortune
            <img id="logo" src="/assets/images/favicon.svg" alt="Fortune Cookie">
            Cookie
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://slack.com/">Download Slack Bot</a>
                </li>
            </ul>
        </div>
    </nav>

    {{{body}}}

    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5">
        <div id="footer-top">
            <div class="container">
                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">
                    <!-- Grid column -->
                        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                            <h6 class="mb-0">Check out Fortune Cookie on GitHub to see the open source code!</h6>
                        </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <!-- GitHub -->
                        <a class="btn btn-social-icon btn-lg btn-github" href="https://github.com/jmacalaster/fortune-cookie">
                            <img id="social-icon" src="/assets/images/github_icon.png" alt="GitHub">
                        </a>
                        <!-- Slack -->
                        <a class="btn btn-social-icon btn-lg btn-slack" href="https://columbiajune2018fsf.slack.com/">
                            <img id="social-icon" src="/assets/images/slack_icon.png" alt="Slack">
                        </a>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
        <!-- Grid row -->
            <div class="row mt-3 dark-grey-text">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">Fortune Cookie</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Fortune Cookie is a Slack bot and web tool that gives users the opportunity to both 
                    send and receive fortunes.</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">The Fortune Cookie Team</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="http://sandynism.github.io/">Sandy Yeung</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="http://evansimonross.github.io/">Evan Ross</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="https://www.juliamacalaster.com">Julia Macalaster</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="https://www.kennethpostigo.me/">Kenneth Postigo</a>
                    </p>
                </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-2"></i> Fortune Cookie HQ, New York, NY </p>
          <p>
            <i class="fa fa-envelope mr-2"></i> fortunecookie.mailer@yahoo.com </p>
          <p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
      <a class="dark-grey-text" href="https://github.com/jmacalaster/fortune-cookie"> Fortune Cookie LLC </a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/assets/js/logic.js"></script>
</body>
</html>

