   <div class="container fortune-container">
        {{!-- <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6"> --}}
                <div class="container fortune-div">
                    <img class="fortune-image" src="/assets/images/Fortune-Cookie-Gif.png" alt="Fortune">
                    <div class="centered fortune-text">
                        Oh no!! No fortune for you! 404 Error. 
                    </div>
                </div>
            {{!-- <div class="col-md-3"></div>
        </div> --}}
    </div>