<!-- Display Fortune -->

<div class="get-fortune-page">

    <div class="container fortune-container">
        {{!-- <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6"> --}}
                <div class="container fortune-div">
                    <img class="fortune-image" src="/assets/images/Fortune-Cookie-Gif.png" alt="Fortune">
                    <div class="centered fortune-text">
                        {{text}}
                    </div>
                </div>
            {{!-- <div class="col-md-3"></div>
        </div> --}}
    </div>

    <!-- Section: Getting Started with the Slack Bot -->
    <section class="text-center three-steps">

    <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Getting Started with the Fortune Cookie Slack Bot</h2>
        <!-- Section description -->
        <p class="lead grey-text w-responsive mx-auto mb-5">Integrate the Fortune Cookie Slack bot with your Slack channel today to start sharing and receiving fortunes!</p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4">

                <i class="fa fa-area-chart fa-3x red-text"></i>
                <h5 class="font-weight-bold my-4">Step #1</h5>
                <p class="grey-text mb-md-0 mb-5">When logged into Slack, scroll down to the bottom and under "Apps" click on the plus button to add a new app.</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">

                <i class="fa fa-book fa-3x cyan-text"></i>
                <h5 class="font-weight-bold my-4">Step #2</h5>
                <p class="grey-text mb-md-0 mb-5">Search for "Fortune Cookie" and click on "Install"</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">

                <i class="fa fa-comments-o fa-3x orange-text"></i>
                    <h5 class="font-weight-bold my-4">Step #3</h5>
                    <p class="grey-text mb-0">In your Slack chat box type "/create" and then the fortune you would like to send. To see a fortune that has been sent to you type "/read"</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Getting Started with the Slack Bot -->

</div>