.navbar {
    padding: 50px 20px 50px 20px;
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: -200px;
}

body {
    background-color: #3F4963;
    color: #ffffff;
}

#logo {
    height: 20%;
    width:20%;
    padding: 0px 25px 0px 25px;
}

a:link {
    color: #FF6376;
}

a:visited{
    color: #FF6376;
}

.page-footer {
    background-color: #ffffff;
    color: #3F4963;
}

#footer-top {
    background-color: #FFD553;
    color: #3F4963;
}

#social-icon {
    height: 40px;
    width: 40px;
}

.fortune-container {
    height: 800px;
}

.fortune-div {
    height: 700px;
    background-image: url("/assets/images/Fortune-Cookie-Gif.jpg");
    background-size: 1036px 650px;
    background-repeat: no-repeat;
}

.get-fortune-page {
    margin: 50px;
}

.fortune-text {
    padding: 230px;
    font-size: 24pt;
    color: #FF6376;
}
