.navbar {
    padding: 50px 20px 50px 20px;
    position: relative;
    background-color: #3F4963;
    color: #ffffff;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: -200px;
}

body {
    background-color: #ffffff;
    color: #3F4963;
}

#logo {
    height: 20%;
    width:20%;
    padding: 0px 25px 0px 25px;
}

a:link {
    color: #FF6376;
}

a:visited{
    color: #FF6376;
}

.page-footer {
    background-color: #3F4963;
    color: #ffffff;
}

#footer-top {
    background-color: #FFD553;
    color: #3F4963;
}

#social-icon {
    height: 40px;
    width: 40px;
}

.fortune-div {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.fortune-image {
    height: 65%;
    width: 65%;
}

.fortune-text {
    font-size: 16pt;
    color: #FF6376;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 120px;
}

.three-steps {
    padding: 100px;
    padding-top: 0px;
}

label {
    margin-left: 25px;
}

textarea, input[type="text"] {
    display: block;
    margin-left: 25px;
    max-width: 768px;
}

button {
    margin: 25px;
}

@media only screen and (max-width: 768px) {
    .fortune-text {
        padding-left: 0;
        font-size: 14px;
        width: 30%;
    }
}

@media only screen and (max-width: 375px) {
    .fortune-text {
        padding-left: 0;
        font-size: 8px;
    }
    .navbar-brand {
        margin-left: -180px;
    }
}
